.search-box {
	position: relative;
}

.search-box input {
	margin-top: 1rem;
}

.search-box input { 
	min-height: 3rem;
	padding: 0 32px 0 1rem;
}

.search-box .fi-magnifying-glass { 
	color: $steel-grey;
	font-size: 1.6rem;
	position: absolute;
	right: 10px;
	top: 6px;
}